@media screen and (min-width: 1280px)
{
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");
.header-logo {
  width: 112px;
  height: 66px;
  margin-left: 121px;
  margin-top: 15px;
}
.icons {
  display: flex;
  margin-top: 100px;
  margin-left: 120px;
}

.icon-globe {
  width: 22px;
  height: 21px;
}

.icon-clock {
  width: 22px;
  height: 22px;
}

.icon-calendar {
  width: 20px;
  height: 22px;
}

.section-icon {
  display: flex;
  margin-right: 60px;
}

.p {
  position: relative;
  font-size: 20px;
  bottom: 12px;
  margin-left: 10px;
}

.main1-h1 {
  width: 628px;
  height: 190px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
  margin-left: 100px;
}

.main1-p {
  width: 414px;
  height: 62px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-left: 100px;
  position: relative;
  bottom: 80px;
}
.main1 {
  display: flex;
}

.main1-text {
  position: relative;
  bottom: 40px;
}
.mansitting {
  width: 304px;
  height: 356px;
  position: relative;
  left: 140px;
}

.poem {
  width: 483.63px;
  height: 200px;
  background: #1e4681;
  border-radius: 5px;
  margin-left: 400px;
}

pre {
  width: 430.59px;
  height: 113px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  color: #ffffff;
  position: relative;
  right: 40px;
  top: 20px;
}

.author {
  width: 280.5px;
  height: 45.64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  color: #ffffff;
  position: relative;
  left: 280px;
  top: 20px;
}

.main2 {
  display: flex;
}
.main2-h1 {
  width: 365px;
  height: 93px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  margin-left: 100px;
}

.main2-p {
  width: 662px;
  height: 374px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-left: 100px;
}

.photo-main2 {
  width: 400px;
  height: 315px;
  position: relative;
  top: 180px;
  left: 180px;
}
.main2-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-right: 200px;
}

.main2-h2 {
  width: 150px;
  height: 39px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}
.main2-paragraph {
  width: 150px;
  height: 39px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.photo-b {
  width: 232px;
  height: 203px;
  margin-top: -20px;
}

/* Main 3 Ulker */

.firsth {
  margin-top: 100px;
  margin-left: 100px;
  width: 667px;
  height: 93px;
  left: 121px;
  top: 2000px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;
}
.head1 {
  width: 150px;
  height: 39px;
  left: 122px;
  top: 2182px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #1e4681;
}
.firstp {
  width: 223px;
  height: 39px;
  left: 122px;
  top: 2222px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
.head2 {
  width: 214px;
  height: 39px;
  left: 467px;
  top: 2182px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #1e4681;
}
.secondp {
  width: 271px;
  height: 109px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.head3 {
  width: 150px;
  height: 39px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #1e4681;
}
.thirdp {
  width: 245px;
  height: 39px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  color: #000000;
}
.secondh {
  width: 667px;
  height: 93px;
  margin-left: 100px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;

  color: #000000;
}

.list {
  /* position: relative;
  bottom: 20px; */
  margin-left: 82px;
  width: 662px;
  height: 374px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.text-ulker {
  display: flex;
  justify-content: space-around;
}

.abc {
  margin-right: 30px;
}

/* Main4 Suzan  */

@media screen and (min-width: 1400px) {
  .a4 {
    padding-top: 70px;
    /* margin-top: 40px; */
    height: 93px;
    margin-left: 100px;
    padding-left: 30px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    font-family: "Roboto", sans-serif;
  }

  .a5 {
    margin-left: 100px;
    display: flex;
    direction: row;
    flex-wrap: wrap;
  }

  .a6 {
    height: 290px;
    width: 250px;
    border-radius: 30px;
    margin: 8px;
    border: 3px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }

  .a5 > .a6 {
    width: 30%;
  }

  .a7 {
    width: 125px;
    height: 145px;
    background-color: rgb(253, 184, 55);
    border-radius: 30.33px 30.33px 0px 0px;
  }

  .a6 > .a7 {
    width: 100%;
  }
  .b1 {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
  }
}

/* Main5 Sedef */

.member-h2 {
  width: 987px;
  height: 93px;
  left: 30px;
  position: relative;
  left: 200px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  margin-left: -610px;
  color: black;
}

.rectangle-22 {
  width: 1440px;
  height: 780px;
  left: -1px;
  top: 4625px;

  background: #efefef;
}
.member {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px;

  width: 100%;
}
.card {
  width: 791px;
  height: 451px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 100px 0;
  margin-left: -800px;
  bottom: 100px;
  left: 200px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: white;
}

.child-text {
  display: flex;
  flex-direction: column;
}

.card-info {
  display: flex;
}

.text {
  width: 700px;
  height: 203px;
  left: 170px;
  top: 4883px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  color: #000000;
}
.card-profile-h3 {
  width: 353px;
  height: 59px;
  left: 371px;
  top: 5136px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 101.38%;

  color: #000000;
}
.pp {
  width: 190px;
  height: 169px;
  left: 151px;
  top: 5096px;

  background: url(1.png);
}
.fb {
  width: 32px;
  height: 31px;
  left: 371px;
  top: 5195px;

  background: url(fb_2.png);
}

.green {
  width: 100%;
  height: 830px;
  left: -1px;
  top: -50px;
  position: relative;

  background-image: url(/image/Rectangle\ 23.jpg);
  background: #9dc9c8;
}
.g {
  width: 908px;
  height: 66px;
  margin-left: 0px;
  position: relative;
  top: 200px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  left: 100px;
}
.inform {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}
.s {
  width: 170px;
  height: 32px;
  left: 121px;
  top: 200px;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
}
.price {
  position: relative;
  width: 481px;
  height: 181px;
  left: 121px;
  top: 115px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 101.38%;
}
.list-title {
  width: 294px;
  height: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
}
.p1 {
  width: 294px;
  height: 70px;

  flex-wrap: wrap;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 101.38%;
}
.art1 {
  margin-left: 122px;
}
.art2 {
  margin-right: 950px;
}

.member {
  margin-top: 60px;
  width: 1440px;
}
footer {
  height: 50vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .main5 {
  background-color: #9dc9c8;
} */

.c {
  color: rgb(255, 255, 255);
  width: 230px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 101.38%;
  margin-top: 120px;
  text-align: center;
}

.footer-logos {
  margin-left: 200px;
}

.call-p {
  width: 230px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
  color: #ffffff;
}

.message-p {
  width: 269px;
  height: 40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-content: center; */
  margin-top: 60px;
  margin-right: 100px;
  width: 280px;
  height: 120px;
}

.iconcall {
  display: flex;
  align-self: flex-start;
}

.iconmessage {
  display: flex;
  align-self: flex-start;
  position: relative;
  bottom: 50px;
}

.social-media {
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.footer-logos {
  margin-top: 50px;
}

.call {
  margin-right: 20px;
  position: relative;
  bottom: 7px;
}

.message {
  margin-right: 20px;
  position: relative;
  bottom: 7px;
}

footer {
  margin-top: -50px;
}

@media screen and (max-width: 991px) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");
  .header-logo {
    width: 52.19px;
    height: 30.75px;
    margin-left: 35px;
    margin-top: 36px;
  }
  .icons {
    display: flex;
    margin-top: 45px;
    margin-left: 36px;
    width: 100px;
  }

  .icon-globe {
    width: 10.25px;
    height: 9.79px;
  }

  .icon-clock {
    width: 10.25px;
    height: 10.25px;
  }

  .icon-calendar {
    width: 9.32px;
    height: 10.25px;
  }

  .section-icon {
    display: flex;
    margin-right: 20px;
  }

  .p {
    width: 60.58px;
    height: 14.91px;
    margin-left: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 115%;
    position: relative;
    bottom: 7px;
  }

  .main1-h1 {
    width: 292.63px;
    height: 88.53px;
    margin-left: 36px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 101.38%;
  }

  .main1-p {
    width: 212.4px;
    height: 28.96px;
    margin-left: 36px;
    position: relative;
    bottom: 30px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }
  .main1 {
    display: flex;
  }

  .main1-text {
    position: relative;
    bottom: 35px;
  }
  .mansitting {
    width: 141.66px;
    height: 165.89px;
    position: relative;
    top: 110px;
    right: 140px;
  }

  .poem {
    width: 225.36px;
    height: 93.19px;
    position: relative;
    top: 110px;
    left: 30px;
    background: #1e4681;
    border-radius: 2.32986px;
  }

  pre {
    position: relative;
    width: 260px;
    height: 52.65px;
    top: 10px;
    right: 20px;
    color: white;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
  }

  .author {
    width: 130.7px;
    height: 21.27px;
    left: 120px;
    top: 7px;
    position: relative;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;

    text-align: right;

    color: #ffffff;
  }

  .main2 {
    display: flex;
    margin-top: 90px;
  }
  .main2-h1 {
    width: 170.08px;
    height: 43.34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 80px;
    margin-left: 36px;
  }

  .main2-p {
    width: 308.47px;
    height: 174.27px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-left: 36px;
    margin-bottom: 20px;
    position: relative;
    bottom: 15px;
  }

  .photo-main2 {
    width: 170px;
    height: 146.78px;
    position: relative;
    right: 240px;
    top: 440px;
    text-align: center;
  }
  .main2-flex {
    display: flex;
    justify-content: space-between;

    margin-top: 260px;
    width: 290px;
    flex-wrap: wrap;
  }

  /* .flex1 {
    width: 40%;
  } */

  .main2-h2 {
    width: 86.88px;
    height: 22.59px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
  }
  .main2-paragraph {
    width: 100px;
    height: 22.59px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
  }

  .main2-article1 {
    margin-left: 35px;
  }

  .photo-b {
    display: none;
    width: 134.37px;
    height: 117.57px;
    position: relative;
    bottom: 20px;
    left: 60px;
  }

  html {
    width: 100%;
  }

  .main2-article3 {
    position: relative;
    left: 36px;
  }

  /* Ulker */

  .main3 {
    margin-bottom: 100px;
  }

  html {
    width: 100%;
  }
  .firsth {
    margin-top: 50px;
    margin-left: 50px;
    width: 310.8px;
    height: 43.34px;
    left: 36px;
    top: 1308px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;

    color: #000000;
  }
  .head1 {
    width: 69.9px;
    height: 18.17px;
    left: 35px;
    top: 1368px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;

    color: #1e4681;
  }
  .firstp {
    width: 180px;
    height: 40px;
    left: 35px;
    top: 1387px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;

    color: #000000;
  }
  .head2 {
    margin-top: 10px;

    width: 99.72px;
    height: 18.17px;
    left: 35.38px;
    top: 1445px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;

    color: #1e4681;
  }
  .secondp {
    margin-top: 10px;
    width: 165px;
    height: 51px;
    left: 35px;
    top: 1464px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;

    color: #000000;
  }

  .head3 {
    width: 69.9px;
    height: 18.17px;
    left: 36px;
    top: 1534px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;

    color: #1e4681;
  }
  .thirdp {
    width: 159px;
    height: 31px;
    left: 36px;
    top: 1553px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;

    color: #000000;
  }
  .secondh {
    margin-top: 60px;

    margin-left: 50px;
    width: 310.8px;
    height: 43.34px;
    left: 36px;
    top: 1657px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;

    color: #000000;
  }

  .list {
    margin-left: 30px;
    width: 299px;
    height: 174px;
    left: 44px;
    top: 1710px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #000000;
  }

  .text1 {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }
  .a {
    margin-right: 40px;
  }

  .text-ulker {
    margin-left: 50px;
  }

  /* Suzan */

  .a3 {
    display: flex;
    flex-wrap: nowrap;
  }
  .a4 {
    margin-left: 50px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
  }

  .a5 {
    display: flex;
    direction: column;
    flex-wrap: wrap;
    width: 185.92px;
    margin: 0 auto;
  }

  .a6 {
    width: 185.92px;
    height: 152.84px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 8px;
    border: 3px;
  }

  .a7 {
    width: 185.92px;

    top: 2048px;
    background-color: rgb(253, 184, 55);
    border-radius: 15px 15px 0px 0px;
  }

  .b2 {
    padding-left: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 130%;
  }

  .b1 {
    padding-left: 10px;
    margin-top: -5px;
    padding-top: 2px;
    font-family: "Roboto";
    font-style: normal;
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 130%;
  }


  /* Sedef */



  .member-h2 {
    width: 257px;
   height: 69px;
   left: -30px;
   top: 100x;
   position: relative;
   font-family: 'Roboto Slab';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 101.38%;
  }
  
  .rectangle-22 {
    width: 900px;
    height: 423px;
   left: -1px;
   top: 3487px;
  
   
   background: #EFEFEF;
  }
  .member {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 374px;
  }
  .card {
    width: 308px;
    height: 248px;
    left: 0px;
    top: -15px;
    
    position: relative;
    
   padding-left: 10px;
  
   background: #FFFFFF;
   box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
   border-radius: 13.9792px;
    background-color: white;
  }
  
  .child-text {
    display: flex;
    flex-direction: column;
  }
  
  .card-info {
    display: flex;
  }
  
  .text {
    width: 260px;
   height: 111.01px;
    left: 56px;
   top: 3627.47px;
   padding-left: 20px;
  
   display: flex;
   flex-wrap:wrap;
   align-items:center;
  
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 150%;
  
    color: #000000;
  }
  .card-profile-h3 {
    width: 164.49px;
   height: 20px;
   left: 149.63px;
   top: 3777.54px;
  
   font-family: 'Roboto Slab';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 101.38%;
  
    color: #000000;
  }
  .pp {
    width: 90px;
   height: 84px;
   left: 56px;
   top: 3760px;
  
    background: url(1.png);
  }
  .fb {
    width: 14.91px;
    height: 17.2px;
    left: 149.63px;
    top: 3810.26px;
  margin-bottom: 50px;
    background: url(fb_2.png);
  }
  
  html {
    width: 100%;
  }
  
  .green {
    width: 374px;
    height: 363.46px;
    left: 1px;
    top: -22px;
    
    position: relative;
    max-width: 991px;
    background-image: url(/image/Rectangle\ 23.jpg);
    background: #9dc9c8;
  }
  .g {
    width: 224px;
    height: 63px;
    left: 50px;
    top: 62px;
    
    position: relative;
  
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  
  }
  .inform {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
  }
  .s {
   width: 79.22px;
   height: 14.91px;
   left: 52px;
   top: 80px;
  
   position: relative;
  
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 101.38%;
  }
  .price {
    position: relative;
    width: 224.13px;
    height: 84.34px;
   left: 50px;
   top: 40px;
  
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 37px;
   line-height: 101.38%;
  }
  .list-title {
    width: 137px;
   height: 14.91px;
   left: -50px;
   top: -1px;
  
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 101.38%;
  }
  .p1 {
    width: 140px;
    height: 38px;
    left: 203px;
    top: 4163px;
    
    flex-wrap: wrap;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
  }
  .art1 {
    margin-left: 50px;
  }
  .art2 {
    margin-right: 300px;
  }
  
  .main5 {
    margin-top: 60px;
  }


  footer {
    height: 52vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main5 {
    background-color: #9dc9c8;
  }

  .c {
    width: 141px;
    height: 19px;
    /* left: 70.66px;
    top: 3763.89px; */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;

    margin-top: 120px;
    position: relative;
    top: 20px;
    left: -20px;
    color: #ffffff;
    text-align: center;
  }

  .footer-logos {
    margin-left: 200px;
  }

  .call-p {
    width: 133.21px;
    height: 23.17px;
    left: 593.65px;
    top: 3608.67px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;

    color: #ffffff;
  }

  .message-p {
    width: 155.8px;
    height: 23.17px;
    left: 593.65px;
    top: 3633.57px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;

    color: #ffffff;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    margin-top: 60px;
    margin-right: 300px;
    width: 150px;
    height: 200px;
    position: relative;
    bottom: 150px;
    left: 60px;
  }

  .iconcall {
    display: flex;
    align-self: flex-start;
    margin-top: -20px;
  }

  .iconmessage {
    display: flex;
    align-self: flex-start;
    position: relative;
    bottom: 20px;
  }

  .social-media {
    margin-top: 10px;
    width: 80px;
    display: flex;
    justify-content: space-between;
  }

  .footer-logos {
    margin-top: 30px;
    margin-left: 60px;
  }

  .call {
    margin-right: 10px;
    position: relative;
    width: 12.58px;
    height: 12.58px;
    top: 13px;
  }

  .message {
    width: 12.58px;
    height: 8.39px;
    margin-right: 10px;
    position: relative;
    top: 13px;
  }

  .f1 {
    width: 53.59px;
    height: 31.69px;
  }

  .instagram {
    width: 15.38px;
    height: 15.38px;
  }

  .facebook {
    width: 14.91px;
    height: 14.91px;
  }

  .vkru {
    width: 16.31px;
    height: 16.31px;
  }

  .viber {
    width: 15.84px;
    height: 15.84px;
  }

}

}
